---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Scroll animations">
  <main>
    <section>
      <h1>Scroll down for animations</h1>
    </section>

    <section>
      <p class="reveal-type">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eum
        possimus suscipit nihil, excepturi, dolore vero in delectus totam ut
        modi ab, voluptates voluptatibus aliquam illo? A amet eum non?
      </p>
    </section>

    <section>
      <p class="reveal-type">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eum
        possimus suscipit nihil, excepturi, dolore vero in delectus totam ut
        modi ab, voluptates voluptatibus aliquam illo? A amet eum non?
      </p>
    </section>

    <section>
      <p class="reveal-type">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio eum
        possimus suscipit nihil, excepturi, dolore vero in delectus totam ut
        modi ab, voluptates voluptatibus aliquam illo? A amet eum non?
      </p>
    </section>

    <section></section>
  </main>
</Layout>

<style>
  section {
    height: 100vh;
    padding: 0 clamp(4rem, 12vw, 20rem);
    display: grid;
    place-content: center;
  }
  section p {
    font-size: clamp(2rem, 5vw, 8rem);
  }

  section:nth-of-type(1) {
    border-bottom: 1px solid black;
  }

  section:nth-of-type(3) {
    background: #ffff00;
  }

  section:nth-of-type(4) {
    background: rgb(29, 29, 29);
    color: white;
  }
</style>

<script>
  // LENIS
  import Lenis from "@studio-freight/lenis";
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  import SplitTypes from "split-type";

  gsap.registerPlugin(ScrollTrigger);

  const splitTypes = document.querySelectorAll(".reveal-type");

  splitTypes.forEach((char, i) => {
    const text = new SplitTypes(char, { types: "chars" });
    gsap.from(text.chars, {
      scrollTrigger: {
        trigger: char,
        start: "top 80%",
        end: "top 20%",
		// once: true
        // scrub: false,
        scrub: true,
        markers: false,
      },
      opacity: 0.3,
      stagger: 0.5,
    });
  });

  const lenis = new Lenis();

  lenis.on("scroll", (e: ScrollBehavior) => {
    console.log(e);
  });

  function raf(time: any) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);
</script>
